* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    padding: 1rem 0.5rem;
    text-align: center;
    color: darkgreen;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    list-style-type: none;
}

nav ul li span {
    display: block;
    height: 2px;
    width: 0%;
    max-width: 100px;
    margin: auto;
    background: black;
}

nav ul li a {
    text-decoration: none;
    color: dimgray;
    display: block;
    width: 100%;
    max-width: 100px;
    margin: auto;
    text-align: center;
    padding: 0.5rem 0;
}

.slide-on {
    transition-property: width;
    transition-duration: 0.5s;
    width: 100%;
}

.slide-off {
    transition-property: width;
    transition-duration: 0.5s;
    width: 0%;
}

img {
    display: block;
    margin: auto;
    margin-top: 0.5rem;
}

h2 {
    text-align: center;
    padding: 1rem 0;
}

#description {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
}

footer p {
    margin-top: 2rem;
    text-align: center;
    width: 100%;
    padding:1rem 0;
}