#video-box {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
    display: block;
    margin-top: 1rem;
}

#video-box iframe {
    width: 100%;
    height: 450px;
}

#next, #prev {
    position: absolute;
    display: block;
    cursor: pointer;
    font-size: 50px;
    top:50%;
    transform: translateY(-50%);
    color: white;
    padding: 0.5rem;
    border-radius: 1rem;
}

#next:hover {
    background:#00640080;
}

#prev:hover {
    background: #00640080;
}

#prev {
    left: 10px;
}

#next {
    right: 10px;
}

#counter {
    text-align: center;
    padding: 0.5rem 0;
    font-size: 1.5rem;
}